In [12]:
import pandas as pd

data = {'key1': [1, 2, 2, 3, 3],
        'key2': [2, 2, 2, 1, 1],
        'data': [5, 6, 2, 2, 2]}

In [13]:

frame = pd.DataFrame(data, columns=['key1', 'key2', 'data'])

In [14]:
frame

   key1  key2  data
0     1     2     5
1     2     2     6
2     2     2     2
3     3     1     2
4     3     1     2

In [5]:
print("--------------Original--------------:\n", frame)

localDuplicates = frame[frame.duplicated(['key1'], keep='first')
                        | frame.duplicated(['key1'])]

print("--------------localDuplicates (on key1 only)--------------:\n", localDuplicates)

--------------Original--------------:
    key1  key2  data
0     1     2     5
1     2     2     6
2     2     2     2
3     3     1     2
4     3     1     2
--------------localDuplicates (on key1 only)--------------:
    key1  key2  data
2     2     2     2
4     3     1     2

In [10]:
print(frame[frame.duplicated(['key1'], keep='first')
                        | frame.duplicated(['key1'])])

   key1  key2  data
2     2     2     2
4     3     1     2

In [11]:
import pandas as pd

data = {'key1': [1, 2, 2, 3, 3],
        'key2': [2, 2, 2, 1, 1],
        'data': [5, 6, 2, 2, 2]}

frame = pd.DataFrame(data, columns=['key1', 'key2', 'data'])

print("--------------Original--------------:\n", frame)

globalDuplicates = frame[frame.duplicated(['key1', 'key2', 'data'], keep='first')
                         | frame.duplicated(['key1', 'key2', 'data'])]

print("--------------GlobalDuplicates--------------:\n", globalDuplicates)

--------------Original--------------:
    key1  key2  data
0     1     2     5
1     2     2     6
2     2     2     2
3     3     1     2
4     3     1     2
--------------GlobalDuplicates--------------:
    key1  key2  data
4     3     1     2